include ../input/input
include ../button/button

mixin login-card
  form&attributes(attributes).login-card.js-login-card
    h1.login-card__title Войти
    .login-card__item
      +input()(
        placeholder="Email"
        type="email"
        name="email"
      )
    .login-card__item
      +input()(
        placeholder="Пароль"
        type="password"
        name="password"
      )
    .login-card__submit
      +button("Войти", {isArrowed: true})
    .login-card__offer
      .login-card__registration-text Нет аккаунта на Toxin?
      .js-login-card__registration-button.login-card__registration-button
        +button("Создать", {isFlat: true, isConstMin: true})(type="button")
