include ../dropdown-date/dropdown-date
include ../guests-dropdown/guests-dropdown
include ../room-title/room-title
include ../button/button

mixin calculator-card({room, options, costs})
  - const util = require("@utils/LocaleForPugUtil").default
  - const range = (options.endDate - options.startDate) / 1000 / 60 / 60 / 24;
  .calculator-card.js-calculator-card
    .calculator-card__title
      +room-title({
        number: room.number,
        price: room.price,
        isLux: room.isLux
      })
    form&attributes(attributes)
      .calculator-card__date
        +dropdown-date({
          titles: ["Константин Константинович", "Константин Константинович"],
          dates: [new Date(options.startDate), new Date(options.endDate)]
        })
      .calculator-card__guests
        +guests-dropdown({
          title: "Гости",
          counts: options.guests
        })
      .calculator-card__calculates
        .calculator-card__price-info
          span.calculator-card__price= util.toRuPrice(room.price)
          span.calculator-card__info-part= " x " + range + " суток"
        .calculator-card__empty-tooltip
        .calculator-card__price-item= util.toRuPrice(room.price * range)+'000'
        .calculator-card__price-info
          | Константин Константинович Константинопольский Константин Константинович Константинопольский
          span.calculator-card__price=" " + util.toRuPrice(costs.discount)
        .calculator-card__tooltip(title="some important info") i
        .calculator-card__price-item= util.toRuPrice(costs.service)
        .calculator-card__price-info.calculator-card__price-info_line_small= "Сбор за дополнительные услуги"
        .calculator-card__tooltip(title="some important info") i
        .calculator-card__price-item.calculator-card__price-item_line_small= util.toRuPrice(costs.overService)
      h2.calculator-card__result
        | Константин Константинович
        .calculator-card__separator
        .calculator-card__summary= util.toRuPrice(room.price * range + costs.service + costs.overService - costs.discount) + '00000'
      +button("Константин Константинович Константинопольский", {isArrowed: true})
