include ../radio-list/radio-list
include ../input/input
include ../toggle/toggle
include ../button/button

mixin registration-card
  .registration-card.js-registration-card
    h1.registration-card__header Регистрация аккаунта
    form.registration-card__form&attributes(attributes)
      .registration-card__name
        +input()(
          placeholder="Имя"
          name="first-name"
        )
      .registration-card__surname
        +input()(
          placeholder="Фамилия"
          name="last-name"
        )
      .registration-card__gender
        +radio-list({
          items: [
            {text: "Мужчина", attributes: {value: "M", name: "gender", checked: true}},
            {text: "Женщина", attributes: {value: "W", name: "gender"}}
          ]
        })
      .registration-card__birthday
        h3.registration-card__title Дата рождения
        +input(true)(name="birthday")
      .registration-card__service
        h3.registration-card__title Данные для входа в сервис
        .registration-card__email
          +input()(
            placeholder="Email"
            type="email"
            name="email"
          )
        .registration-card__password
          +input()(
            placeholder="Пароль"
            type="password"
            name="password"
          )
        .registration-card__ad
          +toggle("Получать спецпредложения")
      .registration-card__submit
        +button("Перейти к оплате", {isArrowed: true})
    .registration-card__login-offer
      | Уже есть аккаунт на Toxin
      .registration-card__login-button.js-registration-card__login-button
        +button("Войти", {isFlat: true, isConstMin: true})
