mixin input({isDateMasked, isSubscribe})
  if isDateMasked
    input(
      placeholder="ДД.ММ.ГГГГ"
      pattern="(\\d{2}\\.){2}\\d{4}$"
    ).input.input_style_simple.js-input_masked&attributes(attributes)
  else if isSubscribe
    .input.input_style_with-content
      input(
        placeholder="Email"
        type="email"
        name="email"
      ).input__field&attributes(attributes)
      button(type="submit").input__arrow
        .input__icon
  else
    input.input.input_style_simple&attributes(attributes)



