include ../likeButton/likeButton
// {img: {src, alt}, name, time, text, like: {count, active}
mixin feedback(map)
  .feedback
    img.feedback__img(src=map.img.src alt=map.img.alt)
    div
      div=map.name
      div=map.time
    +likeButton(map.like.count)(checked=map.like.active)
    div=map.text
