mixin button(text, {isFlat, isSecondary, isArrowed, isMini, isWide, isConstMin})
  -
    const classes = [
      isSecondary ? "button_color_secondary" : "",
      !isFlat || isArrowed ? "button_raised" : "button_flat",
      isArrowed ? "button_arrowed" : "",
      isMini && !isFlat ? "button_size_mini" : "",
      isWide ? "button_size_wide" : "",
      isConstMin ? "button_size_const-min" : ""
    ]

  if isArrowed
    button.button(class=classes)&attributes(attributes)
      span.button__arrowed-text=text
      .button__arrow
  else
    if isFlat
      button.button(class=classes)&attributes(attributes)
        span.button__text(class=isMini ? "button__text_size_mini" : "")= text
    else
      button.button(class=classes)&attributes(attributes)=text
