mixin button(text, {isBordered, isSecondary, isArrowed, isMini, isWide, isConstMin})
  -
    const classes = [
      isSecondary ? "button_color_secondary" : "",
      !isBordered || isArrowed ? "button_style_filled" : "button_style_bordered",
      isArrowed ? "button_content_arrowed" : "",
      isMini && !isBordered ? "button_size_mini" : "",
      isMini && isBordered ? "button_content-size_mini" : "",
      isWide ? "button_size_wide" : "",
      isConstMin ? "button_size_const-min" : ""
    ]

  if isArrowed
    if attributes.href
      a.button(class=classes)&attributes(attributes)
        span.button__text=text
        .button__arrow
    else
      button.button(class=classes)&attributes(attributes)
        span.button__text=text
        .button__arrow

  else if isBordered
    if attributes.href
      a.button(class=classes)&attributes(attributes)
        span.button__text=text
    else
      button.button(class=classes)&attributes(attributes)
        span.button__text=text

  else
    if attributes.href
      a.button(class=classes)&attributes(attributes)=text
    else
      button.button(class=classes)&attributes(attributes)=text
