include ../link-with-menu/link-with-menu
include ../button/button

mixin header-links({home, links, login, register, username, isVertical})
  .header-links(class=isVertical?"header-links_vertical":"")
    if home
      a(href=home.url).header-links__link.header-links__link_type_home=home.name
    for link in links
      if link.content
        .header-links__link.header-links__link_with-menu
          - link.isInline = isVertical
          +link-with-menu(link)
      else
        a(href=link.url).header-links__link=link.name
    if username
      .header-links__line(
        class=isVertical ? "header-links__line_vertical" : ""
        )
      a(
        href="mock-address"
        class=isVertical ? "header-links__username_vertical" : ""
      ).header-links__username=username
    else
      .header-links__buttons(
        class=isVertical ? "header-links__buttons_vertical" : ""
      )
      .header-links__login-button(
        class=isVertical ? "header-links__login-button_vertical" : ""
      )
        +button(login, {isFlat: true, isMini: true, isWide: isVertical})
      .header-links__register-button(
        class=isVertical ? "header-links__register-button_vertical" : ""
      )
        +button(register, {isMini: true, isWide: isVertical})
