include ../logo/logo
include ../button/button

mixin header({links, login, registration, profile})
  header.header.js-header
    .header__content
      .header__logo
        +logo
      button(type="button").header__menu-button.js-header__menu-button
        .header__menu-icon

      nav.header__links
        ul.header__links-list
          for link in links
            if link.content
              li.header__list-item
                a(href=link.url).header__link=link.name
                button(type="button").header__submenu-button
                  .header__icon
            else
              li.header__list-item
                a(href=link.url class=link.isBold ? "header__link_important" : "").header__link=link.name

          if profile
            li.header__list-item
              a(href=profile.url).header__username= profile.username
          else
            li.header__list-item
              +button(login.name, {isBordered: true, isMini: true})(href=login.url)
            li.header__list-item
              +button(registration.name, {isMini: true})(href=registration.url)
