// [{text, attributes:{}, description?}], string, bool
mixin checkboxList(map, expandTitle, isOpened)
  .checkbox-list&attributes(attributes)
    if expandTitle
      button.checkbox-list__expander
        span=expandTitle
        i.material-icons.checkbox-list__more-icon expand_more
        i.material-icons.checkbox-list__less-icon expand_less
    fieldset(hidden=expandTitle && !isOpened).checkbox-group
      each el in map
        label.checkbox
          input(type="checkbox")&attributes(el.attributes)
          span.checkbox-item
          if el.hasOwnProperty('description')
            .checkbox__text
              .checkbox__title=el.text
              .checkbox__description=el.description
          else
            .checkbox__text=el.text


