include ../title/title

// data: [{text, name, count}]
mixin dropdown-menu(data, {title, subtitle, isOpened, isInline, withActions})
  .dropdown-menu.js-dropdown-menu&attributes(attributes)
    +title({title, subtitle})
    button(
      type="button"
      class=isOpened ? "dropdown-menu__header_opened" : ""
    ).dropdown-menu__header.js-dropdown-menu__header
      .dropdown-menu__text
      i.dropdown-menu__icon expand_more
    fieldset(
      class=[
        !isInline ? "dropdown-menu__content_over" : "",
        isOpened ? "dropdown-menu__content_opened" : ""
      ]
    ).dropdown-menu__content&attributes(attributes)
      for item in data
        .dropdown-menu__item
          span.dropdown-menu__item-text=item.text
          .dropdown-menu__counter
            button(type="button").dropdown-menu__decrement.js-dropdown-menu__decrement -
            input(
              value=item.count || 0
              name=item.name
              readonly
            ).dropdown-menu__count.js-dropdown-menu__count
            button(type="button").dropdown-menu__increment.js-dropdown-menu__increment +
      if withActions
        .dropdown-menu__buttons.js-dropdown-menu__buttons
          button(type="button").dropdown-menu__button.dropdown-menu__button_type_confirm.js-dropdown-menu__button_type_confirm Применить
          button(type="button").dropdown-menu__button.dropdown-menu__button_type_cancel.js-dropdown-menu__button_type_cancel Очистить
