// data: [{text, name, count}]
mixin dropdownMenu(data, {isOpened, isInline, withConfirm, withCancel})
  div(class=attributes.class).dropdown-menu
    button(class=isOpened?'dropdown-menu__header_opened':'').dropdown-menu__header
      span.dropdown-menu__text
      i.material-icons.dropdown-menu__icon expand_more
    - delete attributes.class
    fieldset(class=!isInline ? 'dropdown-menu__content_over': '' hidden=!isOpened).dropdown-menu__content&attributes(attributes)
      for item in data
        .dropdown-menu__item
          span=item.text
          .dropdown-menu__counter
            button(disabled=item.count===0).dropdown-menu__decrement -
            input(value=item.count name=data.name readonly).dropdown-menu__count
            button.dropdown-menu__increment +
      if !attributes.disabled
        .dropdown-menu__buttons
          // type='button' for safe using in forms
          button(type='button' hidden=!withConfirm).dropdown-menu__button.dropdown-menu__button_type_confirm Применить
          button(type='button' hidden=!withCancel).dropdown-menu__button.dropdown-menu__button_type_cancel Очистить
