include ../like-button/like-button
// {img: {src, alt}, name, time, text, like: {count, active}
mixin feedback({img, name, time, text, like})
  .feedback&attributes(attributes)
    img.feedback__img(src=require(`${img.src}`).default alt=img.alt)
    div
      .feedback__user=name
      div=time
    .feedback__like
      +like-button(like.count)(checked=like.active)
    div=text
