include ../like-button/like-button

// img: {src, alt}, like: {count, active}
mixin feedback({img, name, time, text, like})
  .feedback
    img.feedback__img(src=require(`${img.src}`).default alt=img.alt)
    .feedback__title
      .feedback__user=name
      .feedback__time=time
    .feedback__like
      +like-button(like.count)(checked=like.active)
    .feedback__text=text
