include ../logo/logo
include ../subscribe-input/subscribe-input
include ../social-networks/social-networks

mixin footer({tagline, menu, subscribe, copyright})
  footer.footer
    .footer__menu
      .footer__logo
        +logo
        .footer__tagline=tagline
      nav.footer__nav
        for column in menu
          .footer__nav-column
            ul.footer__nav-title=column.name
            for item in column.items
              li.footer__nav-item
                a(href=item.url).footer__nav-link=item.name
      .footer__subscribe-offer
        h3.footer__subscribe-title=subscribe.title
        .footer__subscribe-info=subscribe.description
        .footer__subscribe-input
          +subscribe-input(placeholder=subscribe.placeholder)
    .footer__separator
    .footer__info
      .footer__copyright=copyright
      +social-networks
