// inputData: [{title, date}]
mixin dropdown-date(inputData, isInline)
  div(class=isInline ? 'js-date-dropdown-inline' : 'js-date-dropdown').date-dropdown&attributes(attributes)
    .date-dropdown__iconed-input
      +input({title: inputData[0].title})(
        placeholder='ДД.ММ.ГГГГ',
        readonly,
        value=inputData[0].date
        name='start-date'
        disabled=attributes.disabled
      ).date-dropdown__first-date
      i.material-icons.date-dropdown__icon expand_more
    if inputData.length === 2
      .date-dropdown__iconed-input
        +input({title: inputData[1].title})(
          placeholder='ДД.ММ.ГГГГ',
          readonly,
          value=inputData[1].date
          name='end-date'
          disabled=attributes.disabled
        ).date-dropdown__last-date
        i.material-icons.date-dropdown__icon expand_more

