// inputData: [{title, date}]
mixin dropdown-date(inputData, isInline)
  div(class=isInline ? "js-dropdown-date-inline" : "js-dropdown-date").dropdown-date
    .dropdown-date__item
      h3.dropdown-date__title=inputData[0].title
      button(type="button").dropdown-date__iconed-input.js-dropdown-date__iconed-input
        input(
          placeholder="ДД.ММ.ГГГГ",
          readonly,
          value=inputData[0].date
          name="start-date"
        ).dropdown-date__input.js-dropdown-date__input
        .dropdown-date__button
          i.dropdown-date__icon expand_more
    if inputData.length === 2
      .dropdown-date__separator
      .dropdown-date__item
        h3.dropdown-date__title=inputData[1].title
        button(type="button").dropdown-date__iconed-input.js-dropdown-date__iconed-input
          input(
            placeholder="ДД.ММ.ГГГГ",
            readonly,
            value=inputData[1].date
            name="end-date"
          ).dropdown-date__input.js-dropdown-date__input
          .dropdown-date__button
            i.dropdown-date__icon expand_more
