// inputData: [{title, date}]
mixin dropdown-date(inputData, isInline)
  div(class=isInline ? 'js-date-dropdown-inline' : 'js-date-dropdown').dropdown-date&attributes(attributes)
    .dropdown-date__item
      h3.dropdown-date__title=inputData[0].title
      .dropdown-date__iconed-input
        input(
          placeholder='ДД.ММ.ГГГГ',
          readonly,
          value=inputData[0].date
          name='start-date'
          disabled=attributes.disabled
        ).dropdown-date__input.js-dropdown-date__input_first
        i.material-icons.dropdown-date__icon expand_more
    if inputData.length === 2
      .dropdown-date__separator
      .dropdown-date__item
        h3.dropdown-date__title=inputData[1].title
        .dropdown-date__iconed-input
          input(
            placeholder='ДД.ММ.ГГГГ',
            readonly,
            value=inputData[1].date
            name='end-date'
            disabled=attributes.disabled
          ).dropdown-date__input.js-dropdown-date__input_last
          i.material-icons.dropdown-date__icon expand_more

