mixin dropdown-date({titles, dates, isInline})
  div(class=isInline ? "js-dropdown-date-inline" : "js-dropdown-date").dropdown-date
    input(
      data-start-utc = dates ? dates[0] : null
      data-end-utc = dates ? dates[1] : null
    ).dropdown-date__anchor.js-dropdown-date__anchor
    .dropdown-date__item
      .dropdown-date__title=titles[0]
      button(type="button").dropdown-date__iconed-input.js-dropdown-date__iconed-input
        input(
          placeholder= titles.length === 2 ? "ДД.ММ.ГГГГ" : "ДД ммм - ДД ммм",
          readonly,
          name="start-date"
        ).dropdown-date__input.js-dropdown-date__input
        .dropdown-date__icon
    if titles.length === 2
      .dropdown-date__separator
      .dropdown-date__item
        .dropdown-date__title=titles[1]
        button(type="button").dropdown-date__iconed-input.js-dropdown-date__iconed-input
          input(
            placeholder="ДД.ММ.ГГГГ",
            readonly,
            name="end-date"
          ).dropdown-date__input.js-dropdown-date__input
          .dropdown-date__icon
